.venv/
__pycache__/
hello/hello
*.safetensors
*.csv
*.png
*.gz
*secret.yaml
.env
.litellm_cache/
hf_transformers/src/

# Kubespray inventory credentials
llm-d/inventory/*/credentials/
llm-d/inventory/*/inventory.ini
