[submodule "ComfyUI"]
	path = comfyui/ComfyUI
	url = https://github.com/comfyanonymous/ComfyUI.git

[submodule "ComfyUI-Manager"]
	path = comfyui/ComfyUI-Manager
	url = https://github.com/ltdrdata/ComfyUI-Manager.git
